/*-------navbar css-----------*/
.main-bar{
	background-color: rgb(255, 141, 0) !important;
	display: flow-root;
	padding: 0 10%;
	background-attachment: fixed;
}
#check{
	display: none;
}

.logo-header{
	display: table;
	float: left;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	color: lightblue;
	width: 140px;
	height: 68px;
	position: relative;
	z-index: 9;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5;
	-o-transition: all 0.5s;
}


.logo-header:before{
	content: "";
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 80%;
	z-index: -1;
	right: -50px;
	transform: skew(30deg);
	background-color: lightblue;
}

.logo-header:after{
	content: "";
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 2000px;
	z-index: -1;
	right: 10%;
	background-color: lightblue;
}

.logo-header img{
	width: 90%;
	height: 52px;
    margin-top: 7px;
}

ul{
	float: right;
}

nav ul li{
	display: inline-block;
	line-height: 45px;
	border-radius: 0px;
    margin-left: 3px;
    margin-right: 3PX;
	margin-top: 9px;
}
nav li.active a{
	color: #020101;
	background-color: lightblue;
	border-radius: 10px;
    border: 1px solid rgb(108, 52, 0);
	
}

nav li a{
	font-style: inherit;
	font-family: serif;
	padding: 6px 12px;
	border: 0;
	font-size: 19px;
	font-weight: 25px;
	color: white;
	opacity: 1;
	text-decoration: none;
	transition: all 0.5s;
    border-radius: 10px;
	
}

nav li a:hover {
	font-size: 19px;
	color: rgb(75, 0, 10);
	background-color: lightblue;
    border: 1px solid rgb(108, 52, 0);
	transition: all 0.5s;
	
}

@media(max-width: 1250px){
	.main-bar{
		padding: 0 2%;
	}
	nav li a{
		padding: 15px 20px;
	}
}

.checkbtn{
	float: right;
	width: 20px;
	height: 18px;
	position: relative;
	transform: rotate(0);
	transition: 0.5s ease-in-out;
	cursor: pointer;
	top: 25px;
	display: none;
}

.checkbtn span{
	background-color: #fff;
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	border-radius: 1px;
	opacity: 1;
	left: 0;
	transform: rotate(0);
	transition: 0.25s ease-in-out;
}

.checkbtn span:nth-child(1){
	top: 0;
}

.checkbtn span:nth-child(2){
	top: 7px;
}

.checkbtn span:nth-child(3){
	top: 14px;
}

@media(max-width: 800px){
	.main-bar{
		padding: 0 10%;
	}
	.checkbtn{
		display: block;
		margin-right: 40px;
	}

	nav ul{
		position: fixed;
		width: 350px;
		height: 100vh;
		background: #22272b;
		top: 68px;
		left: -100%;
		text-align: center;
		transition: all 0.5s;
	}

	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	#check:checked ~ul{
		left: 0;
	}
}

@media(max-width: 800px){
	nav ul{
		display: block;
		width: 100%;
	}
}
