
.formContainer {
    /* position: absolute;
    justify-content: center;
    margin-top: -348px;
    margin-left: 50px;
    padding: 0px 30px;
    overflow: hidden; */
    padding: 20px 10px;
    background-color: #22272b;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #c89300;;
    
}

.modal-content {
    animation-name: animateModal;
    animation-duration: 0.5s;
     background-color: #22272b;
}

.close-modal-icon {
    cursor: pointer;
    font-size: 30px;
    float: right;
    font-weight: bold;
}

.header{
    display: inline;
    background-color: #22272b;
    color: white;
}

.header h1 {
    padding-top: 7px;
    font-weight: bold;
    font-size: x-large;
    color: white;
}


.formContent{
    padding-top: 5px;
}

.formRow{
    display: block;
    margin-top: 15px;
}

 .inputField {
    width: 100%;
    padding: 2px 7px;
    font-size: 14px;
    border-radius: 7px;
    color: black;
    background-color: #ffffffe5;
}

.submitBtn {
        font-weight: bold;
        background-color: #c89300;
        color: white;
        padding: 2px 10px;
        border-radius: 5px;
    }



@keyframes animateModal {
    from {
        top: -200px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
    
}

@media only screen and (max-width: 768px) {
    .formContainer {
        position: absolute;
        margin-top: -350px;
        padding: 0px 30px;
        overflow: hidden;
        width: 91%;
        height: 70%;
        background-color: #22272b;
        transform: translate(5%);
        border-radius: 10px;
        box-shadow: 0px 0px 10px 1px #c89300;
        
    }
    .header h1 {
        padding-top: 8px;
        font-weight: bold;
        font-size: x-large;
    }

}